.header__lang-link {
  display: block;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  text-decoration: none;
  outline: none;
  margin: 0 0 6px 18px;
  opacity: 1;
  transition: opacity linear .5s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
  }
}
