.place__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.056;
  color: #fff;
  max-width: 460px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.095;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    padding: 0 16px;
  }
}
