.photo-grid {
  background-color: #2a2c2f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 92px 48px 12px 48px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 88px 24px 15px 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 1fr;
    padding: 64px 16px 14px 16px;
    gap: 12px;
  }
}
