.cover__subtitle {
  margin: 0;
  padding: 32px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  max-width: 360px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    padding-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
