.intro__container {
  display: flex;
  flex-direction: column;
  padding: 92px 0 0 148px;
  max-width: 690px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .intro__container {
    padding: 92px 0 0 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__container {
    padding: 92px 0 0 48px;
    max-width: 720px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .intro__container {
    padding: 88px 24px 0 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro__container {
    padding: 64px 16px 0 16px;
    max-width: 720px;
  }
}
