.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .lead__title {
    max-width: 425px;
    font-size: 60px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
  }
}
