.footer__links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    height: 248px;
    padding-bottom: 48px;
  }
}
