.place__paragraph {
  margin: 0;
  padding: 0 0 26px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 16px;
  }
}
