.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 62.5%;
  width: 100%;
  height: auto;
  opacity: .3;
  grid-row: 1;
  grid-column: 1;
}
